$flaticon-font: "flaticon";

@font-face {
    font-family: $flaticon-font;
    src: url("./flaticon.ttf?62c2aa1020f392dead9722208e7450c7") format("truetype"),
url("./flaticon.woff?62c2aa1020f392dead9722208e7450c7") format("woff"),
url("./flaticon.woff2?62c2aa1020f392dead9722208e7450c7") format("woff2"),
url("./flaticon.eot?62c2aa1020f392dead9722208e7450c7#iefix") format("embedded-opentype"),
url("./flaticon.svg?62c2aa1020f392dead9722208e7450c7#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon-map: (
    "microscope": "\f101",
    "blackboard": "\f102",
    "hierarchical-structure": "\f103",
    "diagram": "\f104",
    "computer": "\f105",
);

.flaticon-microscope:before {
    content: map-get($flaticon-map, "microscope");
}
.flaticon-blackboard:before {
    content: map-get($flaticon-map, "blackboard");
}
.flaticon-hierarchical-structure:before {
    content: map-get($flaticon-map, "hierarchical-structure");
}
.flaticon-diagram:before {
    content: map-get($flaticon-map, "diagram");
}
.flaticon-computer:before {
    content: map-get($flaticon-map, "computer");
}
